nav {
    float: left;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #212121; 
    background-repeat: repeat-y;
}

.logoOficial{
    width: 70px;
}

.input-group{
    width: 600px;
    margin-top: 15px;
}
.input-group img{
    width: 20px;
}
.input-group button{
    height: 39px;
}


#signin {
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#signin a,
#signin link span {
    margin-left: 3%;
    color: #fff;
    text-decoration: none;
}

#signin a:hover,
#signin link span:hover {
    border: none;
    color: #BDBDBD; 

}
.signin-img{
    width: 20px;
}
#signin img{
    margin-bottom: 0!important;
}

.navDoador-one{
    display: flex;
}
