.paragrafo-m {
  color: #c2185b;
  font-weight: bold;
  margin-left: -14px;
}
.paragrafo-m:hover {
  text-decoration: none;
  color: #c2185b;
}

.itsIsMach {
  margin-top: 4% !important;
  width: 50% !important;
  margin: auto;
}
.card-two {
  width: 85% !important;
}

.novoMatch {
  margin-bottom: 4%;
  text-align: center;
}

.novoMatch:focus,
.novoMatch:hover {
  text-decoration: none !important;
}

.btn-fd-two {
  width: 200px;
  margin: auto;
}
.img-matchs {
  display: flex;
  justify-content: center;
}

.img-matchs img {
  width: 150px;
  border-radius: 80%;
}
.img-matchs-one {
  margin-right: 5%;
}
.img-matchs-two {
  margin-left: 5%;
}

.umX {
  width: 20px !important;
}
